@import 'animation.scss';


html{
    scroll-behavior: smooth;
}
h3{
    letter-spacing: 0.06em;
}
button{
    letter-spacing: 0.06em;
}

.container {
    width: 1280px;
    margin: 0 auto;
    
 
   
}

section.start {
    padding: 30px 40px 0px 40px;
    height: 908px;
    background:url('../img/start-screen-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    div.content {
        display: flex;
        justify-content: space-between;
        height: 908px;
        width: 1280px;
        margin: 0 auto;
        padding: 90px 40px 0px 40px;
    
        .aboutContent{
            padding-top: 163px;
            padding-bottom: 243px;
            height: 728px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 44px;
                line-height: 130%;
                color: white;
            }  
        
            p {
                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 160%;
                color: #CDCDCD;
            }
        
            a.buttonPrimary{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F1CDB3;
                width: 207px;
                height: 52px;
                color: #292929;
                border-radius: 100px;
                border: none;
        
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 130%;
                letter-spacing: 0.06em;
            }
        }
        
        .aboutImg {
            height: 728px;
            position: relative;
               
         }   
    
    }
}
header {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;

    h1 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;

        margin-bottom: 10px;

            a{
                color:#F1CDB3;

            }
    }
    p {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;


        padding-left: 4px;

        color:white
    }
    ul{
        display: flex;
        justify-content: space-between;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
       

        li{
            margin-right: 35px;
            border-bottom: 3px solid #f1cdb300;
            
            a{
                color: #CDCDCD;
            }
        }
        li:first-child{
            border-bottom: 3px solid #F1CDB3;
            a{
                color: #FAFAFA;
            }
        }
        li:last-child{
            margin-right: 0;
        }
    }
}



.about{
    height: 588px;
    padding-top: 94px;
    background-image: url('../img/about.png');
    background-repeat: no-repeat;
    background-position: left 215px top 80px;
    position: relative;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        left: 635px;

        height: 380px;

        h3 {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
        }
        p {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
        }
    }
}

.ourFriends {
    height: 877px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0px 100px 0px;

   

    h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        display: flex;
        justify-content: center;
        text-align: center
        
    };
    .cards  {
        display: flex;
        justify-content: space-between;
        padding: 0px 145px 0px 145px;
        position: relative;
        
        div {
            height: 435px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 30px;
            justify-content: space-between;

            margin-right: 90px;
            background-color: #FAFAFA;
            border-radius: 9px;

            button {
                height: 52px;
                width: 187px;
                border: 2px solid #F1CDB3;
                border-radius: 100px;

                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 130%;
            }

            p{
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                color: #545454;
                letter-spacing: 0.06em;
            }
            div:hover ~ button {
        background-color: #ea7623
    }
        }
        
        &>div:last-of-type{
            margin-right: 0;
        }
        button.prew {
            height: 52px;
            width: 52px;
            background: url('../img/button_arrow.png') no-repeat center center;
            border: none;
            position: absolute;
            top: 192px;
            left: 40px;
        }
        button.next{
            height: 52px;
            width: 52px;
            border: none;
            background: url('../img/button_arrow.png') no-repeat center center;
            transform: rotate(180deg);
            position: absolute;
            top: 192px;
            right: 40px;
        }
    }

    a.buttonPrimary{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F1CDB3;
        color: #292929;
        border: none;
        border-radius: 100px;
        width: 261px;
        height: 52px;

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
    }
}

.helpShelter {
    height: 611px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0px 100px 0px;

    h3{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        align-self: center;
        text-align: center;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 120px;

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;

            p{
                display: block;
            }
    }
    .iconsOne {
        display: flex;
        justify-content: space-between;
        padding: 0px 127px 0px 127px;

        li:last-child {
            margin-right: 0;
        }
    }
    .iconsTwo {
        display: flex;
        justify-content: space-between;
        padding: 0px 211px 0px 211px;

        li:last-child {
            margin-right: 0;
        }
    }
}

.donation {
    height: 462px;
    position: relative;
    padding: 80px 0px 100px 0px;
    background: url('../img/donation-dog.png') no-repeat left 183px top 91px;

    .content{
        position: absolute;
        height: 282px;
        left: 718px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;


        h3{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #545454;
        }
        p:first-of-type{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 110%;
            letter-spacing: 0.06em;
            color: #545454; 
        }
        div{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            letter-spacing: 0.06em;
            padding: 0px 10px 0px 10px;

            display: flex;
            align-items: center;
            justify-content: center;
            width: 349px;
            height: 43px;
            background-color: #F1CDB3;
            border-radius: 9px;

                img{
                    margin-right: 15px;
                }
        }
        p:last-of-type{
            font-family: 'Arial';
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #B2B2B2;
        }
    }
}

footer{
    display: flex;
    background:url('../img/footer-background.png');
    background-size: cover;
    height: 350px;
    .content{
        width: 1280px;
        margin: 0 auto;
        display: flex;
        padding: 56px 40px 60px 40px;

        div.contacts{
            display: flex;
            ul{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
        
                li:first-child {
                    font-family: 'Georgia';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 130%;
        
                    letter-spacing: 0.06em;
                    color: white;
                }
                li{
                    display: flex;
                    align-items: center;
        
                    font-family: 'Georgia';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 115%;
                    color: #F1CDB3;        
        
                    letter-spacing: 0.06em;
        
                        img{
                            margin-right: 20px;
                        }
        
                        a{
                            color: #F1CDB3;  
                        }
                }
            }
            ul.contacts {
                margin-right: 160px;
            }
        }
        div.footerImg{
            position: relative;
            top: -16px;
            right: -170px;

           
        }
        
        
    }
   
}


// "our pages" page styles
header.petsPage{
    padding: 30px 40px 30px 40px;
    h1 {
        a{
            color:#545454;
        }
    }
    p {
        color:#292929
    }
    ul{
        a{
            color:#545454;
        }
        li:first-child{
            border-bottom: 3px solid #f1cdb300;
            a{
                color: #545454;
            }
        }
        li:nth-child(2){
            border-bottom: 3px solid #F1CDB3;
        }
    }

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    padding: 80px 40px 100px 40px;
    height: 1342px;

   

    h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        text-align: center;

        
    };
    .cards  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        height: 930px;
        padding-top: 15px;
        div {
            height: 435px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 30px;
            justify-content: space-between;


            button {
                height: 52px;
                width: 187px;
                border: 2px solid #F1CDB3;
                border-radius: 100px;

                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 130%;
            }

            p{
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                color: #545454;
                letter-spacing: 0.06em;
            }
        }
        
        &>div:last-of-type{
            margin-right: 0;
        }
        button.prew {
            height: 52px;
            width: 52px;
            border-radius: 50%;
            border: 2px solid #F1CDB3;
            background: url('../img/ArrowLeft.png') no-repeat center center;

            position: absolute;
            top: 192px;
            left: 40px;
        }
        button.next{
            height: 52px;
            width: 52px;
            border-radius: 50%;
            border: 2px solid #F1CDB3;
            background: url('../img/ArrowRight.png') no-repeat center center;

            position: absolute;
            top: 192px;
            right: 40px;
        }
    }

    button.more{
        background-color: #F1CDB3;
        color: #292929;
        border: none;
        border-radius: 100px;
        width: 251px;
        height: 52px;

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
    }

    .paginator {
        padding: 0px 270px 0px 270px;
    
        button{
            width: 52px;
            height: 52px;
            border-radius: 50%;
    
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
    
            letter-spacing: 0.06em;
    
            margin-right: 20px;
        }
        &>button:last-of-type{
            margin-right: 0;
        }
        .btnDisabled{
            color: #CDCDCD;
            border: 2px solid #CDCDCD;
        }
        .btnEnabled{
            color: #F1CDB3;
            border: 2px solid #F1CDB3;
        }
        .curentPage{
            background-color:  #F1CDB3;
            border: none
        }
        
    }
}




