@import 'animation.scss';


html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
h3{
    letter-spacing: 0.06em;
}
button{
    letter-spacing: 0.06em;
}
p{
    white-space: pre-wrap;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
    
 
   
}

section.start {
    padding: 30px 0px 0px 0px;
    background:url('../img/start-screen-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    div.content {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 90px 40px 0px 40px;
    
        .aboutContent{
            display: flex;
            flex-direction: column;
            padding-top: 153px;
            h2 {
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 44px;
                line-height: 130%;
                color: white;
                margin-bottom: 42px;
                letter-spacing: 0.06em;
            }  
        
            p {
                max-width: 460px;
                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 160%;
                color: #CDCDCD;
                margin-bottom: 42px;
            }
        
            a.buttonPrimary{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F1CDB3;
                width: 207px;
                height: 52px;
                color: #292929;
                border-radius: 100px;
                border: none;
        
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 130%;
                letter-spacing: 0.06em;
            }
        }
        
        .aboutImg {
            position: relative;
            display: flex;
               img{
                margin-left: 42px;
               }
         }   
    
    }
}
header {
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;

    h1 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;

        margin-bottom: 10px;

            a{
                color:#F1CDB3;

            }
    }
    p {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;


        padding-left: 4px;

        color:white
    }
    ul{
        display: flex;
        justify-content: space-between;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        margin-left: 573px;
       

        li{
            margin-right: 35px;
            border-bottom: 3px solid #f1cdb300;
            
            a{
                color: #CDCDCD;
            }
        }
        li:first-child{
            border-bottom: 3px solid #F1CDB3;
            a{
                color: #FAFAFA;
            }
        }
        li:last-child{
            margin-right: 0;
        }
    }
    .menuBurger{
        display: none;
    }
}



.about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px 100px 0px;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 14px 0px 14px 120px;

        h3 {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
            margin-bottom: 25px;
        }
        p {
            max-width: 430px;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
        }
        p:first-of-type{
            margin-bottom: 25px;
        }
    }
}

.ourFriends {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 40px 100px 40px;

   

    h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 60px;
        
    };
    .cards  {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        align-items: center;
        position: relative;
        
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 30px;
            justify-content: space-between;
            margin-right: 90px;

            background-color: #FAFAFA;
            border-radius: 9px;
            position: relative;
            img{
                margin-bottom: 30px;
            }
            button {
                height: 52px;
                width: 187px;
                border: 2px solid #F1CDB3;
                border-radius: 100px;

                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 130%;
            }

            p{
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                color: #545454;
                letter-spacing: 0.06em;
                margin-bottom: 30px;
            }
            div:hover ~ button {
        background-color: #ea7623
    }
        }
        
        &>div:last-of-type{
            margin-right: 0;
        }
        button.prew {
            height: 52px;
            width: 52px;
            background: url('../img/button_arrow.png') no-repeat center center;
            border: none;
            display: block;

            position:absolute;
            left: -105px;
        }
        button.next{
            height: 52px;
            width: 52px;
            border: none;
            background: url('../img/button_arrow.png') no-repeat center center;
            transform: rotate(180deg);
            display: block;

            position:absolute;
            right:-105px;
        }
    }

    a.buttonPrimary{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F1CDB3;
        color: #292929;
        border: none;
        border-radius: 100px;
        width: 261px;
        height: 52px;

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
    }
}

.helpShelter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 40px 100px 40px;

    h3{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        align-self: center;
        text-align: center;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;

            p{
                padding-top: 30px;
                display: block;
                text-align: center;
            }
    }
    ul {
        padding-top: 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px 120px;


    }
    // .iconsOne {
    //     display: flex;
    //     justify-content: center;

    //     li:last-child {
    //         margin-right: 0;
    //     }
    // }
    // .iconsTwo {
    //     display: flex;
    //     justify-content: center;

    //     li:last-child {
    //         margin-right: 0;
    //     }
    // }
}

.donation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 462px;
    position: relative;
    padding: 80px 0px 100px 0px;

    .content{
        height: 282px;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        h3{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #545454;
        }
        p:first-of-type{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 110%;
            letter-spacing: 0.06em;
            color: #545454; 
        }
        div{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            letter-spacing: 0.06em;
            padding: 0px 10px 0px 10px;

            display: flex;
            align-items: center;
            justify-content: center;
            width: 349px;
            height: 43px;
            background-color: #F1CDB3;
            border-radius: 9px;

                img{
                    margin-right: 15px;
                }
        }
        p:last-of-type{
            max-width: 380px;
            font-family: 'Arial';
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #B2B2B2;
        }
    }
    .img{
        img{
            width: 100%;
            height: auto;
        }
    }
   
}

footer{
    display: flex;
    background:url('../img/footer-background.png');
    background-size: cover;
    .content{
        width: 1280px;
        margin: 0 auto;
        display: flex;
        padding: 40px 40px 0px 40px;

        div.contacts{
            display: flex;
            ul{
                height: 234px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
        
                li:first-child {
                    font-family: 'Georgia';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 130%;
        
                    letter-spacing: 0.06em;
                    color: white;
                    max-width: 279px;
                }
                li{
                    display: flex;
                    align-items: center;
        
                    font-family: 'Georgia';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 115%;
                    color: #F1CDB3;        
                    
                    letter-spacing: 0.06em;
        
                        img{
                            margin-right: 20px;
                        }
        
                        a{
                            color: #F1CDB3;  
                        }
                }
                li:last-child{
                    margin-bottom: 0;
                }
            }
            ul.contacts {
                margin-right: 160px;
            }
        }
        div.footerImg{
            display: flex;
            position: relative;
            right: -170px;

           
        }
        
        
    }
   
}


// "our pages" page styless
header.petsPage{
    padding: 30px 40px 30px 40px;
    h1 {
        a{
            color:#545454;
        }
    }
    p {
        color:#292929
    }
    ul{
        a{
            color:#545454;
        }
        li:first-child{
            border-bottom: 3px solid #f1cdb300;
            a{
                color: #545454;
            }
        }
        li:nth-child(2){
            border-bottom: 3px solid #F1CDB3;
        }
    }
    .menuBurger{
        display: none;
    }

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 40px 100px 40px;
    height: auto;

   

    h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        text-align: center;

        margin-bottom: 60px;
    };
    .cards  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        margin-bottom: 60px;
        gap: 30px 0px;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                margin-bottom: 30px;
            }
            button {
                height: 52px;
                width: 187px;
                border: 2px solid #F1CDB3;
                border-radius: 100px;

                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 130%;
                margin-bottom: 60px;
            }

            p{
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                color: #545454;
                letter-spacing: 0.06em;
                margin-bottom: 30px;
            }
        }
        
        &>div:last-of-type{
            margin-right: 0;
        }

    }

    button.more{
        background-color: #F1CDB3;
        color: #292929;
        border: none;
        border-radius: 100px;
        width: 251px;
        height: 52px;

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
    }

    .paginator {
    
        button{
            width: 52px;
            height: 52px;
            border-radius: 50%;
    
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
    
            letter-spacing: 0.06em;
    
            margin-right: 15px;
        }
        &>button:last-of-type{
            margin-right: 0;
        }
        .btnDisabled{
            color: #CDCDCD;
            border: 2px solid #CDCDCD;
        }
        .btnEnabled{
            color: #F1CDB3;
            border: 2px solid #F1CDB3;
        }
        .curentPage{
            background-color:  #F1CDB3;
            border: none
        }
        
    }
}




@import 'media.scss';
