

.container {
    width: 1280px;
    margin: 0 auto;
    
 
   
}

section.start {
    padding: 30px 40px 0px 40px;
    height: 908px;
    background:url('../img/start-screen-background.jpg'),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-repeat: no-repeat;
    background-position: right 40px bottom 0;
    position: relative;

    div.content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 253px;
        height: 322px;
    
    
        h2 {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 44px;
            line-height: 130%;
            color: white;
        }  
    
        p {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
            color: #CDCDCD;
        }
    
        button{
            background-color: #F1CDB3;
            width: 207px;
            height: 52px;
            color: #292929;
            border-radius: 100px;
            border: none;
    
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 130%;
        }
        img{
            position: absolute;
            right: 0;
            bottom: 0;
        }
    
    }
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        color:#F1CDB3;

        margin-bottom: 10px;
    }
    p {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        padding-left: 4px;

        color:white
    }
    ul{
        display: flex;
        justify-content: space-between;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #FAFAFA;

        li{
            margin-right: 35px;
            border-bottom: 3px solid #F1CDB3;
        }
        li:last-child{
            margin-right: 0;
        }
    }
}



.about{
    height: 588px;
    padding-top: 94px;
    background-image: url('../img/about.png');
    background-repeat: no-repeat;
    background-position: left 215px top 80px;
    position: relative;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        left: 635px;

        height: 380px;

        h3 {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
        }
        p {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
        }
    }
}

.ourFriends {
    height: 877px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0px 100px 0px;

   

    h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;

        
    };
    .cards  {
        display: flex;
        justify-content: space-between;
        padding: 0px 145px 0px 145px;
        position: relative;
        
        div {
            height: 435px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            justify-content: space-between;

            margin-right: 90px;

            button {
                height: 52px;
                width: 187px;
                border: 2px solid #F1CDB3;
                border-radius: 100px;

                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 130%;
            }

            p{
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                color: #545454;
            }
        }
        
        &>div:last-of-type{
            margin-right: 0;
        }
        button.prew {
            height: 52px;
            width: 52px;
            border-radius: 50%;
            border: 2px solid #F1CDB3;
            background: url('../img/ArrowLeft.png') no-repeat center center;

            position: absolute;
            top: 192px;
            left: 40px;
        }
        button.next{
            height: 52px;
            width: 52px;
            border-radius: 50%;
            border: 2px solid #F1CDB3;
            background: url('../img/ArrowRight.png') no-repeat center center;

            position: absolute;
            top: 192px;
            right: 40px;
        }
    }

    button.more{
        background-color: #F1CDB3;
        color: #292929;
        border: none;
        border-radius: 100px;
        width: 251px;
        height: 52px;

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
    }
}

.helpShelter {
    height: 611px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0px 100px 0px;

    h3{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        align-self: center;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 120px;

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        color: #545454;

            p{
                display: block;
                margin-top: 30px;
            }
    }
    .iconsOne {
        display: flex;
        justify-content: space-between;
        padding: 0px 127px 0px 127px;

        li:last-child {
            margin-right: 0;
        }
    }
    .iconsTwo {
        display: flex;
        justify-content: space-between;
        padding: 0px 211px 0px 211px;

        li:last-child {
            margin-right: 0;
        }
    }
}

.donation {
    height: 462px;
    position: relative;
    padding: 80px 0px 100px 0px;
    background: url('../img/donation-dog.png') no-repeat left 183px top 91px;

    .content{
        position: absolute;
        height: 282px;
        left: 718px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;


        h3{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #545454;
        }
        p:first-of-type{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 110%;
            letter-spacing: 0.06em;
            color: #545454; 
        }
        div{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            letter-spacing: 0.06em;
            padding: 0px 10px 0px 10px;

                img{
                    margin-right: 15px;
                }
        }
        p:last-of-type{
            font-family: 'Arial';
            font-style: italic;
            font-weight: 400;
            font-size: 12px;

            color: #B2B2B2;
        }
    }
}

footer{
    display: flex;
    height: 350px;
    padding: 40px 40px 60px 40px;
    position: relative;

  
    background:url('../img/footer-background.png'),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);


    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li:first-child {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;

            letter-spacing: 0.06em;
            color: white;
        }
        li{
            display: flex;
            align-items: center;

            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            color: #F1CDB3;        

            letter-spacing: 0.06em;

                img{
                    margin-right: 20px;
                }
        }
    }
    .contacts {
        margin-right: 160px;
    }

    &>img{
        position: absolute;
        top: 40px;
        right: 40px;
    }
}
